.leaderboard{
  display: flex;
  min-width: 500px;
  justify-content: center;
}

.leaderboard-container h1{
  text-align: center;
  margin: 60px 0 30px 0;
}

.leaderboard-column h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  border-bottom: 1px solid #2c2c2c;
  text-align: center;
}

.leaderboard-column p {
  text-align: center;
}

.user {
  font-weight: 600;
}

.leaderboard-header-row, .leaderboard-row{
  display: flex;
  gap: 100px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  border-radius: 10px;
}

.onerepmax-details{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.onerepmax-details p {
  text-align: center;
}